nav.px-4.my-navbar.nav-second-type
    a(href='index.html').logo-link                 
        img.logo.h-100(src='img/gsplogowhite.svg')
    .nv-collapse
        ul.nv-list.h-100
            li.nv-item.h-100
                a.nv-link.h-100.d-flex.align-items-center(href='about.html')
                    span.text-nowrap Haqqımızda
            li.nv-item.h-100
                a.nv-link.h-100.d-flex.align-items-center.nv-link--active(href='services.html')
                    span.text-nowrap Xidmətlər
            li.nv-item.h-100
                a.nv-link.h-100.d-flex.align-items-center(href='solutions.html')
                    span.text-nowrap Həllər
            li.nv-item.h-100
                a.nv-link.h-100.d-flex.align-items-center(href='projects.html')
                    span.text-nowrap Layihələrimiz
            li.nv-item.h-100
                a.nv-link.h-100.d-flex.align-items-center(href='contact.html')
                    span.text-nowrap Əlaqə
        .search
            label.search-btn.position-relative(for='search-input')
                i.fa.fa-search.search-icon
            form.search-form
                i.fa.fa-search.search-icon-passiv
                input#search-input.search-input(type='text', name='search-input', placeholder='Axtarış edin')
                .times-icon 
                    | &times;
    .hamburger
        div
        div