.go-report
    padding: 13px 35px
    font: 700 12px $main-font
    color: $main-color
    border-radius: 4px
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.12)
    &:hover
        color: $main-color

.about-card__img
    position: absolute
    top: -40%
    margin: 0 auto
.about-card-header
    font: 700 24px $main-font
    color: $content-text-color
.about-card-info
    font: 200 14px $main-font