
.top-content__img-box
  height: 768px
  img 
    width: 100%
    height: 100%


.top-content__info-box
  position: absolute
  height: 229px
  background-color: $main-color
  left: 0
  bottom: 0
.top-content__info-box__info
  max-width: 520px
  margin-left: 133px
  color: white
  .info-box__info__header
    font: 700 28px FF DIN Pro
  .info-box__info__text
    font: 200 14px FF Din Pro
  
.top-content__info-box__triangle
  width: 11.8rem
  height: 3.8rem
  position: absolute
  bottom: 0
  right: 65px
  cursor: pointer
  margin-bottom: -5px
  i 
    width: 13px
    height: 11px
    position: absolute
    top: 2rem
    left: 0
    right: 0
    margin: auto
    font-size: 13px
  
.main__header 
  margin-bottom: 7rem
  font: 400 50px $main-font
  color: $second-color
  text-align: center
  // margin-top: 55px

.our-services
  display: flex
  flex-wrap: wrap
  justify-content: center
  max-width: 1020px
  // margin: auto
  .services-info
    width: 510px
    height: 196px
    border: solid 1px #F3F3F3
    background: white
    transition: 0.4s all
    .services-info__header
      font: 700 29px $main-font
      margin: 30px 0 0 10px
    .services-green-line
      width: 67px
      border: solid 3px $main-color
      margin: 11px 0 18px 10px
    .services-info__text
      font: 200 13px $main-font 
      padding: 0 41px 15px 10px
  .service-card
    width: 255px
    height: 196px
    border: solid 1px #F3F3F3
    background-color: white 
    transition: 0.4s all
    .service-img
      width: 43px
      height: 43px
      background-repeat: no-repeat
      background-position: center
      background-size: cover
    .service-header
      font: 400 19px $main-font
      color: $content-text-color
      padding: 0 60px
      transition: all 0.4s ease
    &:hover
      border: transparent
      box-shadow: 3px 3px 11px rgba(0,0,0, .16)
      .service-header
        color: $main-color

.service-card:first-of-type
  .service-img
    background-image: url('../../img/service1.svg')
  &:hover
    .service-img
      background-image: url("../../img/service1green.svg")
.service-card:nth-of-type(2)
  .service-img
    background-image: url('../../img/service2.svg')
  &:hover
    .service-img
      background-image: url("../../img/service2green.svg")
.service-card:nth-of-type(3)
  .service-img
    background-image: url('../../img/service3.svg')
  &:hover
    .service-img
      background-image: url("../../img/service3green.svg")
.service-card:nth-of-type(4)
  .service-img
    background-image: url('../../img/service4.svg')
  &:hover
    .service-img
      background-image: url("../../img/service4green.svg")
.service-card:nth-of-type(5)
  .service-img
    background-image: url('../../img/service5.svg')
  &:hover
    .service-img
      background-image: url("../../img/service5green.svg")
.service-card:nth-of-type(6)
  .service-img
    background-image: url('../../img/service6.svg')
  &:hover
    .service-img
      background-image: url("../../img/service6green.svg")

.speed-test
  display: flex
  flex-wrap: wrap
  justify-content: center
  max-width: 1020px
  margin-top: 9.7rem
  &__frame
    display: flex
    flex: 0 0 50%
    height: 58.5rem 
  &__info
    display: flex
    flex: 0 0 50%
    flex-direction: column
    &__header
      font: 700 29px $main-font
      margin: 30px 0 0 10px
    &__text
      font: 200 13px $main-font 
      padding: 0 41px 15px 10px
        
@media (max-width: 768px)
  .top-content__info-box
    position: relative
    // flex-direction: column
    .top-content__info-box__info
      margin: 0 auto
  .our-services
    .services-info
      max-width: 510px
  .speed-test
    flex-direction: column
    max-width: 85rem


@media (max-width: 500px)
  .content
    height: 100%
  .top-content__info-box
    padding: 0 17px
  .our-services
    .services-info
      height: auto
      margin: 0 20px 30px 20px
    .service-card
      margin-bottom: 30px

@media (min-width: 1265px)
  .top-content__img-box
    min-height: 768px
    height: auto
@media (max-width: 1024px)
  .top-content__img-box
    height: 640px
@media (max-width: 768px)
  .top-content__img-box
    height: 480px
@media (max-width: 550px)
  .top-content__img-box
    height: 335px
@media (max-width: 420px)
  .top-content__img-box
    height: 258px
@media (max-width: 400px)
  .top-content__img-box
    height: 234px
@media (max-width: 350px)
  .top-content__img-box
    height: 200px
