.subMenu
    padding: 0 41px
    
.subMenu__item
    padding: 10px 35px
    font: 400 12px $main-font
    color: $second-color
    border: solid 1px $subMenu-border-color
    border-radius: 3px
    transition: 0.4s all
    &:hover
        background-color: $main-color
        border-color: $main-color
        color: white
.subMenu__item--active
    background-color: $main-color
    border-color: $main-color
    color: white