extends pug_template/head

block unique-content
    .content
        include pug_template/navbar.pug
        main.main
            .container
                h1.content-header.mb-4 Haqqımızda
                .green-line
                .mb-5.content-text 
                    | 2008-ci ildə əsası qoyulmuş “Global Service Provider” MMC çoxşaxəli İT xidmətlərini bir ünvanda birləşdirməklə müştərilərə unikal xidmət təqdim edən aparıcı informasiya və kommunikasiya şirkətidir. Biz İKT-nin gücündən yararlanaraq və Azərbaycan bazarında mövcud 10 ilik təcrübəmizdən çıxış edərək cəmiyyətimizn rəqəmsal gələcəyini müştərilərimizlə birgə formalaşdırırıq.
                    | Şirkətin əsas fəaliyyəti İT Autsoursinq, Mini ATS-lərin və İP telefonların quraşdırılması, internet şəbəkələrin quraşdırılması, İnternet və İntranet, daxili və magistral şəbəkələrin quraşdırılması, otel və istirahət məkanlarında WİFİ zonanın yaradılması, İT məhsullarının satışı və təmiri kimi və digər İT xidmətlərini əhatə edir.
                a.go-report(href="#") Hesabatı gör
                .d-flex.flex-wrap.justify-content-center.justify-content-md-around.justify-content-xl-between.MT-7.big-card-parent
                    .about-card.big-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/quality.svg").about-card__img
                        .about-card__header.text-center Keyfiyyət
                        .about-card__info.text-center
                            | Xidmətlərimizdə keyfiyyəti artıq ilk istifadədən görəbilərsiniz
                    .about-card.big-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/contract.svg").about-card__img
                        .about-card__header.text-center Etibarlılıq
                        .about-card__info.text-center
                            | Bütün IT həllərinizi bizə tam olaraq etibar edəbilərsiniz
                    .about-card.big-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/work.svg").about-card__img
                        .about-card__header.text-center Peşəkarlıq
                        .about-card__info.text-center
                            | Həll edəbilməyəcəyimiz problem yoxdur. Buna əminliklə cavabdehik
                h1.content-header.mb-4 Dəyərlərimiz
                .green-line
                .mb-5.content-text 
                    | Həll və xidmətlərimizdən yararlanan hər bir müştərinin keyfiyyətli, etibarlı və dayanıqlı xidmətlə təmin olunduğundan əmin olmaq üçün peşəkar və eyni zamanda təcrübəli mütəxəssislərdən ibarət komandamız İT sahəsi üzrə istənilən məsələdə sizə müvafiq köməyi göstərməyə hazırdır. GSP olaraq missiyamız mövcud xidmət və məhsulların keyfiyyətini artırmaq və ictimaiyyət qarşısında sosial məsuliyyətini qorumaqla İT sahəsində aparıcı mövqeyimizi daha da gücləndirməkdir. Fəaliyyət göstərdiyimiz 10 il müddətində müştərilərimizin davamlı olaraq müraciət etməsini təmin edən üstünlüklərimiz:
                    | • Peşəkar yanaşma, etibarlılıq və məxfiliyin tam təmin edilməsi
                    | • Son nəticənin gözləntiləri üstələməsi
                    | • Minimal büdcə ilə arzuolunan həlin icrası
                .d-flex.flex-wrap.justify-content-center.justify-content-md-around.justify-content-xl-between.MT-7.small-card-parent
                    .about-card.small-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/shield.svg").about-card__img
                        .about-card__header.text-center Güvənlik
                        .about-card__info.text-center
                            | GSP şirkəti tam standartlara uyğun olaraq informasiya güvənliyinizi qoruyur
                    .about-card.small-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/Group 295.svg").about-card__img
                        .about-card__header.text-center Anonimlik
                        .about-card__info.text-center
                            | Xidmət anonimliyini peşəkar səviyyədə saxlayır və sizin hər hansı şəxsi məlumatlarınızı 3-cü tərəfə ötürmürük
                    .about-card.small-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/folder.svg").about-card__img
                        .about-card__header.text-center Sinxronizasiya
                        .about-card__info.text-center
                            | Sizin şəxsi kabinetiniz dərhal ana server ilə sinxronizasiya olunur
                    .about-card.small-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/patent.svg").about-card__img
                        .about-card__header.text-center Sertifikat
                        .about-card__info.text-center
                            | Öz müştərilərimizə  sertifikatlaşdırılmış peşəkar komandamız ilə yardım etməyə hazırıq
                h1.content-header.mb-4 Servislərimiz
                .green-line
                .d-flex.flex-wrap.justify-content-center.justify-content-md-around.justify-content-xl-between.MT-7.big-card-parent
                    .mx-auto.about-card.big-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/computing.svg").about-card__img
                        .about-card__header.text-center Bütün Platformlar
                        .about-card__info.text-center
                            | Şəxsi kabinetinizi desktop, mobil və planşet vasitəsilə istifadə edəbilərsiniz
                    .mx-auto.about-card.big-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/certificate.svg").about-card__img
                        .about-card__header.text-center Sertifikatlaşdırılmış Komanda
                        .about-card__info.text-center
                            | Yüksək peşəkarlığa və IT üzrə geniş biliklərə sahib komandaya sahibik
                    .mx-auto.about-card.big-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/service-folder.svg").about-card__img
                        .about-card__header.text-center Etibarlı Baza
                        .about-card__info.text-center
                            | Sizin şəxsi məlumatlarınızı 3-cü tərəf şirkətlərə yaxud şəxslərə vermirik.
                    .mx-auto.about-card.big-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/centralized-connections.svg").about-card__img
                        .about-card__header.text-center Bütün Platformlar
                        .about-card__info.text-center
                            | Şəxsi kabinetinizi desktop, mobil və planşet vasitəsilə istifadə edəbilərsiniz
                    .mx-auto.about-card.big-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/online-coach.svg").about-card__img
                        .about-card__header.text-center Sertifikatlaşdırılmış Komanda
                        .about-card__info.text-center
                            | Yüksək peşəkarlığa və IT üzrə geniş biliklərə sahib komandaya sahibik
                    .mx-auto.about-card.big-about-card.position-relative.d-flex.flex-column.justify-content-center.align-items-center
                        img(src="img/male-telemarketer.svg").about-card__img
                        .about-card__header.text-center Etibarlı Baza
                        .about-card__info.text-center
                            | Sizin şəxsi məlumatlarınızı 3-cü tərəf şirkətlərə yaxud şəxslərə vermirik.
        include pug_template/footer.pug

