extends pug_template/head

block unique-content
    .content
        include pug_template/navbar.pug
        main.main
            .top-content.position-relative.mx-auto.MB-6
                .top-content__img-box.w-100
                    img(src="img/home-bg.svg")
                .top-content__info-box.w-100.d-flex.align-items-center
                    .top-content__info-box__info
                        h2.info-box__info__header Keyfiyyətli Xidmət Yalnız Bizimlə! 
                        .info-box__info__text
                            | 2008-ci ildə əsası qoyulmuş “Global Service Provider” MMC çoxşaxəli İT xidmətlərini 
                            | bir ünvanda birləşdirməklə müştərilərə unikal xidmət təqdim edən aparıcı informasiya 
                            | və kommunikasiya şirkətidir.
                    .top-content__info-box__triangle
                        img(src="img/triangle.svg").w-100.h-100
                        i.fa.fa-chevron-down
            #services-header.main__header Xidmətlərimiz
            .our-services.mx-auto.MB-15
                .services-info
                    .services-info__header Sizin üçün edəcəklərimiz
                        .green-line
                    .services-info__text
                        | 2008-ci ildə əsası qoyulmuş “Global Service Provider” MMC çoxşaxəli İT 
                        | xidmətlərini bir ünvanda birləşdirməklə müştərilərə unikal xidmət təqdim edən 
                        | aparıcı informasiya və kommunikasiya şirkətidir.
                a.service-card(href="").d-flex.flex-column.align-items-center.justify-content-center
                    .service-img.mb-4
                    h2.service-header.mt-3.text-center İnternet və Data xidməti
                a.service-card(href="").d-flex.flex-column.align-items-center.justify-content-center
                    .service-img.mb-4
                    h2.service-header.mt-3.text-center Web sayt xidmətləri
                a.service-card(href="").d-flex.flex-column.align-items-center.justify-content-center
                    .service-img.mb-4
                    h2.service-header.mt-3.text-center İP telefoniya, TV xidməti
                a.service-card(href="").d-flex.flex-column.align-items-center.justify-content-center
                    .service-img.mb-4
                    h2.service-header.mt-3.text-center GPS və CİS xidməti
                a.service-card(href="").d-flex.flex-column.align-items-center.justify-content-center
                    .service-img.mb-4
                    h2.service-header.mt-3.text-center Konsaltinq və Outsoursinq
                a.service-card(href="").d-flex.flex-column.align-items-center.justify-content-center
                    .service-img.mb-4
                    h2.service-header.mt-3.text-center Servis mərkəzi
            .speed-test.mx-auto.mb-5.px-5
                .speed-test__info.pl-5
                    .speed-test__info__header Sürət yoxlanılması
                        .green-line
                    .speed-test__info__text
                        | İnternetin sürətini test etmək üçün “GO” düyməsinə klikləyin
                .speed-test__frame
                    iframe(width='100%', height='100%', frameborder='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d388948.3248466814!2d49.57477494848202!3d40.394254379738996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d6bd6211cf9%3A0x343f6b5e7ae56c6b!2sBaku!5e0!3m2!1sen!2s!4v1581341175839!5m2!1sen!2s')
                
            .main__header Layihələrimiz
            .my-slider.my-slider-area.d-flex.align-items-center
                .my-slider__item
                    img(src="img/asan-xidmet.svg" alt="Project")
                .my-slider__item
                    img(src="img/asan-xidmet.svg" alt="Project")
                .my-slider__item
                    img(src="img/din.svg" alt="Project")
                .my-slider__item
                    img(src="img/aze-konst.svg" alt="Project")
                .my-slider__item
                    img(src="img/asan-xidmet.svg" alt="Project")
                .my-slider__item
                    img(src="img/asan-xidmet.svg" alt="Project")
                .my-slider__item
                    img(src="img/din.svg" alt="Project")
                .my-slider__item
                    img(src="img/asan-xidmet.svg" alt="Project")                
        include pug_template/footer.pug