extends pug_template/head

block unique-content
    .content
        include pug_template/navbar.pug
        main.main
            ol.breadCrumb.mb-5
                li.px-4.breadCrumb-item
                    a.breadCrumb-link.breadCrumb-passive-link Xidmətlər
                | |
                li.px-4.breadCrumb-item.breadCrumb--active
                    | İnternet və Data xidməti
            .subMenu.table-responsive.d-flex.align-items-center.pb-5
                a(href="#").subMenu__item.mr-4.text-nowrap.subMenu__item--active İnternet və Data xidməti
                a(href="#").subMenu__item.mr-4.text-nowrap Web sayt xidmətləri
                a(href="#").subMenu__item.mr-4.text-nowrap İP Telefoniya, TV xidməti
                a(href="#").subMenu__item.mr-4.text-nowrap GPS və CİS xidməti
                a(href="#").subMenu__item.mr-4.text-nowrap Konsaltinq və Outsoursinq
                a(href="#").subMenu__item.mr-4.text-nowrap Servis Mərkəzi
            .container
                h1.content-header.mb-4 İnternet və Data xidməti
                .green-line
                .content-text.service-content-box
                    | “GSP” şirkəti fiziki şəxslərə və korporativ müştərilərə genişzolaqlı fiber optik və hava xətti üzərindən internet xidmətləri göstərir. Şirkətin internet şəbəkəsi ən müasir tələblərə cavab verən avadanlıqlar üzərində qurulmuşdur.
                    | Fiber optik şəbəkənin çəkilməsi insanların daha sürətli, daha keyfiyyətli, daha sərfəli və məhdudiyyətsiz internet xidmətlərindən istifadə etməsinə imkan  verir. Fiber optik şəbəkə vasitəsi ilə ötürülən informasiyanın həcmi digər şəbəkələrə müqayisədə olduqca genişdir. Fiber optik internetə qoşulma abunəçilərə məlumatı 10 Gbit/saniyəyə qədər sürətlə qəbul etmək və ötürmək (upload, download) imkanı verir.
                    | Fiber optik şəbəkə vasitəsi ilə təmin olunan internetdə sürət itkiyə imkan vermir. Məlumatın ötürmə sürəti telefon xətti kimi amillərdən asılı olmur ki, bu da yüksək keyfiyyətli xidmət göstərilməsini təmin edir. Ayrılmış kanal xidmətləri Azərbaycan
                    img(b-lazyload='', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAABCAYAAADjAO9DAAAAEElEQVR42mNkYPhfz4AHAAAshwGAZzGaWgAAAABJRU5ErkJggg==', data-src="img/services-img.svg")
                    | Respublikası daxilində (Naxçıvan Muxtar Respublikasını da əhatə edən) müxtəlif həcmdə şirkət və dövlət qurumlarının uzaq məsafələrini birləşdirmək məqsədilə təqdim edilə bilər ki, bu daonların fəaliyyətinin daha da səmərəli qurulması üçün şərait yaradar.
                    | “GSP” MMC işgüzar fəaliyyət sahələrinə “bir nöqtə ilə digər nöqtəni”, yaxud “bir nöqtə ilə digər nöqtələri” əlaqələndirən xidmətlər təklif edir ki, bu da 
                    | məlumatların yüksək sürətlə ötürülməsini təmin edir, yaxud korporativ şəbəkələrin təşkil olunmasına kömək edir.
                    | Şirkətin təqdim etdiyi ayrılmış kanal xidmətinə aşağıdakılar daxildir:
                    | • E1s-dən STM64-dək DWDM və SDH protokolları vasitəsi ilə yüksək tutumlu xətlərin təqdim edilməsi;
                    | • 10Mb-dan 10Gb-dək Virtual özəl şəbəkə Ethernet-in təqdim edilməsi;
                    | • VPN (Virtual Özəl Şəbəkə)-nin təqdim edilməsi;
                    | • Fiber optik kabellərin quraşdırılması, istismarı və servisi;
                    | • Azərbaycana və kənara beynəlxalq ayrılmış kanalların təqdim edilməsi.
                    | “GSP”  şirkətinə Azərbaycan Respublikası Radiotezliklər Üzrə Dövlət Komissiyası tərəfindən 2.4 – 2.485 GHz tezlik zolağından istifadəsinə icazə verilmişdir və bu o deməkdir ki bizim Respublikanın istənilən nöqtəsində hava xətti üzərindən (Point to Point, Multi-point və WTTx texnologiyalar) internet xidməti təmin etmək imkanımız var.
                    | Hazırda inkişaf etmiş ölkələrdə yaşayış binalarının, biznes və ticarət mərkəzlərinin, müəssisə və təşkilatların şəbəkələri optik kabellərdən istifadə edilməklə 
                    | “GPON” texnologiyası əsasında qurulur. GPON texnologiyasından yararlanaraq “GSP” şirkəti eyni infrastruktur üzərindən telefon rabitəsi , internet və rəqəmsal televiziya xidməti təklif edir.
        include pug_template/footer.pug

